
<div class="mt-5">

  <%= form_with model: flashcard, url: url, method: method do |form| %>
    <%= form.label :question, class: "form-label" %>
    <%= form.text_field :question, class: "form-control" %> <br>
    <%= form.label :answer, class: "form-label" %>
    <%= form.text_field :answer, class: "form-control" %> <br>

  <div>
    <%= form.submit class: "btn btn-primary" %>
  </div>
  
  <% end %>

</div>
